In [132]:
import pandas as pd
import numpy as np 

data = pd.read_excel('./Online Retail.xlsx',)

In [133]:
d = ["Bank Charges",
"CARRIAGE",
"DOTCOM POSTAGE",
"Manual",
"PADS TO MATCH ALL CUSHIONS",
"POSTAGE"]
chrg_dict = dict()
def removing(x):
    for i in d:
        str_r = i.lower()
        print(str_r)
        if str_r in x:
            print(str_r) 
            if str_r in chrg_dict:
                
                chrg_dict[str_r] = 0 
            else:
                chrg_dict[str_r] +=1
            x = x.replace(str_r,'')
    return x

In [137]:
chrg_dict

{}

In [134]:
data['Description'] = data['Description'].str.lower()

In [135]:
data['Description'].apply(removing)

bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage
bank charges
carriage
dotcom postage
manual
pads to match all cushions
postage

KeyError: 'postage'

In [126]:
chrg_dict

{}

In [122]:
data.to_csv('abc.csv')

In [20]:
data['bill_amount'] = data.UnitPrice * data.Quantity

In [100]:
data[data.Quantity <0].shape,data[data.UnitPrice<=0].shape, data[data.CustomerID.isnull()].shape

((10624, 9), (2517, 9), (135080, 9))

In [106]:
data.shape[0]-144025

397884

In [108]:
data = data[~((data.Quantity <0)  |(data.UnitPrice<=0) | (data.CustomerID.isnull()))]

In [109]:
data_g = data.groupby(['CustomerID']).agg(no_bills=('InvoiceNo', pd.Series.nunique), 
                                 sum_bill=('bill_amount', np.sum),
                                Recency=('InvoiceDate', max),
                                 Recency_min=('InvoiceDate', min)).reset_index()

In [110]:
data_g['Average_bill'] = data_g.sum_bill/data_g.no_bills

In [111]:
data_g.loc[data_g.Recency.dt.year <2011,'Recency_int'] = 0
data_g.loc[data_g.Recency.dt.year >=2011,'Recency_int'] = data_g.Recency.dt.month

,CustomerID,no_bills,sum_bill,Recency,Recency_min,Average_bill,month_freq,Recency_int
77,12441.0,1,173.55,2010-12-08 10:45:00,2010-12-08 10:45:00,173.550,0.000000,0.0
136,12515.0,1,383.70,2010-12-21 15:43:00,2010-12-21 15:43:00,383.700,0.000000,0.0
165,12551.0,1,168.00,2010-12-17 11:23:00,2010-12-17 11:23:00,168.000,0.000000,0.0
212,12605.0,1,-7.50,2010-12-09 15:41:00,2010-12-09 15:41:00,-7.500,0.000000,0.0
264,12666.0,1,-227.44,2010-12-15 14:42:00,2010-12-15 14:42:00,-227.440,0.000000,0.0
...,...,...,...,...,...,...,...,...
4246,18119.0,1,181.12,2010-12-07 11:59:00,2010-12-07 11:59:00,181.120,0.000000,0.0
4261,18141.0,1,-35.40,2010-12-14 11:09:00,2010-12-14 11:09:00,-35.400,0.000000,0.0
4288,18176.0,2,448.65,2010-12-21 12:33:00,2010-12-16 15:45:00,224.325,0.133333,0.0
4350,18256.0,1,-50.10,2010-12-20 08:27:00,2010-12-20 08:27:00,-50.100,0.000000,0.0
4359,18269.0,2,138.90,2010-12-16 15:39:00,2010-12-08 13:53:00,69.450,0.266667,0.0

In [112]:
data_g['month_interval'] = (data_g['Recency'] - data_g['Recency_min']).dt.days/30

In [113]:
data_g['no_of_visit_per_month'] = data_g['month_interval']/data_g.

,CustomerID,no_bills,sum_bill,Recency,Recency_min,Average_bill,Recency_int,month_freq
0,12346.0,1,77183.60,2011-01-18 10:01:00,2011-01-18 10:01:00,77183.600000,1.0,0.000000
1,12347.0,7,4310.00,2011-12-07 15:52:00,2010-12-07 14:57:00,615.714286,12.0,12.166667
2,12348.0,4,1797.24,2011-09-25 13:13:00,2010-12-16 19:09:00,449.310000,9.0,9.400000
3,12349.0,1,1757.55,2011-11-21 09:51:00,2011-11-21 09:51:00,1757.550000,11.0,0.000000
4,12350.0,1,334.40,2011-02-02 16:01:00,2011-02-02 16:01:00,334.400000,2.0,0.000000
...,...,...,...,...,...,...,...,...
4333,18280.0,1,180.60,2011-03-07 09:52:00,2011-03-07 09:52:00,180.600000,3.0,0.000000
4334,18281.0,1,80.82,2011-06-12 10:53:00,2011-06-12 10:53:00,80.820000,6.0,0.000000
4335,18282.0,2,178.05,2011-12-02 11:43:00,2011-08-05 13:35:00,89.025000,12.0,3.933333
4336,18283.0,16,2094.88,2011-12-06 12:02:00,2011-01-06 14:14:00,130.930000,12.0,11.100000
4337,18287.0,3,1837.28,2011-10-28 09:29:00,2011-05-22 10:39:00,612.426667,10.0,5.266667

In [98]:
data_g.to_csv('feature_extract.csv')